.header_wrap{
    position:relative;
    padding:20px 0;
    box-sizing:content-box;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0,.8);
    border-radius:4px;
    background-color:#fff;
    margin-top: 25px;
}
.logo{
    display:inline-block;
    width:15%;
    text-align:center;
    border-right:1px solid #000;
}
.logo h1{
    position: absolute;
    top:-9999px;
}
.logo img{
    max-height:100px;
    max-width:100%;
}
.menu{
    position: absolute;
    width: 80%;
    right:30px;
    top:50%;
    height:48px;
    margin-top:-24px;
}